@import url(https://fonts.googleapis.com/css?family=Cardo); /*Título*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans); /*Párrafos*/

body{
	padding-top: 40px; /*Para que el navbar no overleyeé a lo demás*/
}

body{
    background-color: black;
}

/*classes*/
.navbar{
	background-color: #141414;
	font-family: 'Open Sans', sans-serif;	
}

.parrafo{
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: -15px; 
}

/*.row{
	border: solid;
	border-color: white;
}*/

.f1{
	padding-top: 50px;
	padding-bottom: 160px;
	padding-left: 10px;
}

.cajas{
	width: 388px;
	height: 230px;
	text-align: justify;
}

/*ids*/
#titulo{
    color: white;
    font-family: 'Cardo', serif;
    font-size: 8em;
    letter-spacing: 5px;
	position: relative;
}


#cuadro1{
	background-color: #520000;
}

#cuadro2{
	background-color: #09521C;
}

#cuadro3{
	background-color: #000452;
}


#animacion{
	float: left;
}