@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200'); /*Demás*/

/* Texto responsivo */
@media screen and (max-width: 992px) {
#tituloResponsivo{
    font-size: 65%;
  }

}

body{
    background-color: black;
	padding-top: 40px;
}

footer{
	font-size: 0.8em;
}

/*classes*/
.navbar{
	background-color: #141414;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar-nav > li > .dropdown-menu {
	background: #141414;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: black !important;
 }

.parrafo{
font-family: 'Source Sans Pro', sans-serif;
	color: whitesmoke;
	margin-top: -15px;
}

/*.row{
	border: solid;
	border-color: white;
}*/

.f1{
	padding-top: 50px;
	padding-bottom: 5px;
	padding-left: 11px;
}

.cajas{
	width: 100%;
	height: 180px;
	text-align: justify;
	font-size: 1	em;
}

/*ids*/

#logo{
	pointer-events: none;
	padding-top: 20px;
}

#titulo-imagen{
	z-index: -1;
	position: relative;
	float: right;
}

#p5{
	padding-right: -10px;
}

#info{
	width: 500px;
	text-align: justify;
	color: lightgray;
	font-size: 0.9em;
	font-family: 'Droid Serif', serif;
}