@import url(https://fonts.googleapis.com/css?family=Cardo); /*Título*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans); /*Párrafos*/

body{
	padding-top: 40px; /*Para que el navbar no overleyeé a lo demás*/
}

body{
    background-color: black;
}

/*classes*/
.navbar{
	background-color: #141414;
}

.parrafo{
	font-family: 'Open Sans', sans-serif;
	color: white
}
/*ids*/
#titulo{
    color: white;
    font-family: 'Cardo', serif;
    font-size: 8em;
    letter-spacing: 5px;
	position: relative;
}