/*Fuentes*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100|Fjalla+One|Signika:300');
/* Imagen de 'animanoir' responsivo */

@media screen and (max-width: 992px) {
    #tituloResponsivo {
        font-size: 65%;
    }
}

@media screen and (max-width: 771px) {
    #fixed-sidebar {
        display: none;
    }
    #navbar-superior {
        display: block !important;
    }
    .text-center-contacto {
        // padding-right: 100px !important;
        right: 0px !important;
        text-align: center;
    }
    .img-blog {
        width: 100% !important;
    }
    #main-content-post {
        color: rgb(228, 228, 228);
        font-family: 'Signika', sans-serif;
        font-size: 1em;
        padding: 10px !important;
    }
    .img-blog {
        display: none;
    }
}

/*Tags HTML*/

/* width */

::-webkit-scrollbar {
    width: 9px;
}

/* Track */

// ::-webkit-scrollbar-track {
//     // box-shadow: inset 0 0 5px grey; 
//     // border-radius: 10px;
// }
/* Handle */

::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 13px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #424242;
}

blockquote {
    border-left: 7px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
    font-size: 1.1em;
  }

hr {
    border-color: #585858 !important;

}

p {
    margin: 10px 0;
}

body {
    background-color: black;
}

footer {
    font-size: 0.7em;
    color: rgb(88, 88, 88);
    padding-top: 10px;
}

a {
    color: white;
    color: lightblue;
}

a:hover {
    text-decoration-line: none;
    color: #EBCACA;
}

/*classes*/

.row {
    margin-right: -12px !important;
}

.text-center-contacto {
    // padding-right: 100px !important;
    right: 110px;
    text-align: center;
}

.contacto-imagenes {
    width: 40%;
    padding-bottom: 10px;
}

.datos-miembros>p {
    margin: 0 !important;
}

.card {
    margin: 0 auto;
    background-color: black;
    color: black !important;
}

.card-block {
    color: white !important;
    padding-top: 10px !important;
}

.card-text {
    font-size: 0.8em;
    margin-top: -10px;
    color: #5a5a5a;
}

.card-title {
    font-size: 0.93em;
    font-family: 'Signika', sans-serif;
    letter-spacing: 0.5px;
}

.index-info {
    color: whitesmoke;
    margin-top: -15px;
}

.index-subs {
    font-family: 'Josefin Sans', sans-serif;
}

.fuente-fjalla {
    font-family: 'Fjalla One', sans-serif !important;
    letter-spacing: 1px;
}

.fuente-fjalla-titulo {
    font-family: 'Fjalla One', sans-serif !important;
    letter-spacing: 1px;
    color: red;
}

.ul-personalizada {
    list-style-type: none;
    letter-spacing: 1.5px;
}

/*Para hacer los videos responsivos*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-blog {
    width: 60%;
}

/*ids*/

#navbar-superior {
    display: none;
}

#card-div {
    padding-bottom: 10px;
}

#card-div>a {
    text-decoration: none;
}

#fixed-sidebar {
    padding-top: 18px;
    position: fixed;
    max-width: 10%;
    color: white;
    z-index: 1 !important;
}

#link-hogar {
    font-family: 'Josefin Sans', sans-serif;
    color: white !important;
    font-size: 1.5em;
}

#logo {
    pointer-events: none;
    padding-top: 20px;
}

#titulo-imagen {
    z-index: -1;
    position: relative;
    float: right;
}

#p5 {
    padding-right: -10px;
}

#link-hogar {
    font-weight: bold;
}

#header-home {
    padding-top: 40px;
    padding-bottom: 40px;
}

#main-content {
    color: rgb(228, 228, 228);
    font-family: 'Signika', sans-serif;
    font-size: 1em;
}

#main-content-post {
    color: rgb(228, 228, 228);
    font-family: 'Signika', sans-serif;
    font-size: 1em;
    padding-left: 70px;
}

// #texto-acerca{
// }

#home-logo {
    padding-bottom: 10px;
}

#hogar-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    /* background-color: red; */
}

#copyright {
    color: #494949 !important;
}

#hogar-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
}

#hogar-parent {
    margin-top: 50px;
    margin-left: 200px;
    background-color: blue;
}

#img-logo {
    width: 35%;
    pointer-events: none;
}

#header-logo:hover {
    cursor: pointer;
}
