body{
    background-color: black;
}


@font-face {
    font-family: georgia;
    src: url(georgia.ttf);
}


.oraciones{
    font-family: georgia !important;
    color: white;
    font-size: 1.8em;
    cursor: cell;
}

#contenedor{
    padding-top: 10px;
}