<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">Óscar A. Montiel</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Escrito por Óscar A. Montiel</li>
          <li>
            <p style="color:white;">{{ site.email }}</p>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <div class="fb-like" data-href="https://www.facebook.com/Animanoir-534313183271917" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>

      </div>
    </div>

  </div>

</footer>