<nav class="col-sm-3 ">
    <div class="col-sm-12" id="fixed-sidebar">
      <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->
      <ul>
        <li class="fuente-fjalla ul-personalizada">
            <a href="animacion.html">Animación</a>
        </li>
        <li class="fuente-fjalla ul-personalizada">
            <a href="interaccion.html">Interacción</a>
        </li>
        <br>
        <li class="fuente-fjalla ul-personalizada">
            <a href="blog.html">Blog</a>
        </li>
        <br>
        <li class="fuente-fjalla ul-personalizada">
          <a href="acerca.html">Acerca</a>
        </li>
        <li class="fuente-fjalla ul-personalizada">
            <a href="contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>