<div class="container">
  <div class="row">
    <!-- Menú lateral -->
    {%include menu-lateral.html%}
    <div class="col-sm-9" id="main-content">
      <div class="row">
        <div class="col-sm-12 centrar">
          <img class="contacto-imagenes" src="media/jdilla-colorsofyou.gif" alt="Óscar A. Montiel">
          <h5 class="fuente-fjalla">Óscar A. Montiel</h5>
          <div class="datos-miembros">
            <p>
              <a href="https://ello.co/animanoir" target="_blank">ello (foto)</a> </p>
            <p>
              <a href="https://safetyinsolitude.blogspot.mx/" target="_blank">safety in solitude (cuentos)</a></p>
            <p>
              <a href="https://soundcloud.com/distimbria" target="_blank">geosmina (sonoro)</a> </p>
            <br>
            <p>etherealflux94@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>