<div class="container">
        <div class="row">
          <!-- Menú lateral -->
          {%include menu-lateral.html%}
          <div class="col-sm-9" id="main-content">
            <div class="row">
              {% for post in site.posts%}
              {% if post.category == "interaccion" %}
              <div class="col-sm-4" id="card-div">
                <a href=" {{post.url}} ">
                  <div class="card">
                    <img class="card-img-top" src="{{post.thumbnail}}">
                    <div class="card-block">
                      <h5 class="card-title text-center">{{ post.title }}</h5>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>