<div class="container">
  <div class="row">
    <!-- Menú lateral -->
    {%include menu-lateral.html%}

    <div class="col-sm-9" id="main-content">

      <div class="row">

        <div class="col-sm-12">
          <h2 class="fuente-fjalla-titulo">El silencio es aleatorio, como el movimiento.</h2>
          <p>
            <h4>Animanoir...</h4> ... es un búnker creativo. Un lugar recluído dentro de la virtual infinidad de la red global,
            en este siglo XXI.</p>
          <p>No buscamos innovar; no buscamos vendernos. Sólo trascender. Sólo expresarnos a través de pensamientos, éstos que
            transmutan en video, animación, música y
            <span id="hover-texto-sexo">texto</span>, o cualquier otro arte que el ser humano haya creado (o esté por hacerlo).</p>

          <p>¿Herramientas? Con que tengamos cerebro es suficiente. Nunca nos limitamos, pero tampoco sobreexplotamos. Sea papel
            y lápiz, sea computadora, sean incluso nuestros propios suspiros; el arte está en el contexto.</p>

          <p>Para más, por favor ingresa a la sección <a href="contacto.html">contacto, uwu.</a></p>

          <br>
          <!-- <hr>
          <br>
          <h5 class="fuente-fjalla">Óscar A. Montiel</h5>
          <div class="datos-miembros">
              <p><a href="https://ello.co/animanoir" target="_blank">ello</a> (fotografía)</p>
              <p><a href="https://safetyinsolitude.blogspot.mx/" target="_blank">safety in solitude</a> (texto)</p>
              <p><a href="https://soundcloud.com/distimbria" target="_blank">geosmina</a> (música)</p>
              <p><i>etherealflux94@gmail.com</i></p>         
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>